.parcours {
    width: 23.5625rem;
    height: 19rem;
    color: #000;
    text-align: justify;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 1.8125rem;
    border: 2px solid #D9D9D9;
    background: rgba(255, 255, 255, 0.01);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

.projets{
    
        width: 23.5625rem;
        height: 19rem;
        color: #000;
        text-align: justify;
        font-family: Inter;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        border-radius: 1.8125rem;
        border: 2px solid #D9D9D9;
        background: rgba(255, 255, 255, 0.01);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    
}
.valeurs{
    width: 23.5625rem;
        height: 19rem;
        color: #000;
        text-align: justify;
        font-family: Inter;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        border-radius: 1.8125rem;
        border: 2px solid #D9D9D9;
        background: rgba(255, 255, 255, 0.01);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    

}