
$fontfamily: inter;
$fontsize : 15.5px;
$fontsizereduc: 10.3px;
$colorbutton : #FDF1B8;


$colorfontf3 : grey;
//$colorbuttonfooter: #969587;
//$colorbackgroundfooter:#e4eff7;
$colorbuttonfooter: #E0CDA9;
$colorfontf1 :black;
$colorbackgroundfooter : #F5F5F5;
$colorfontF2: black;
$colorfondBulle :#E0CDA9;
$colorborder: #C4C4C4;