
$fontfamily: inter;
$fontsize : 15.5px;
$fontsizereduc: 10.3px;
$colorbutton : #C8E2ED;


$colorfontf3 : grey;
//$colorbuttonfooter: #969587;
//$colorbackgroundfooter:#e4eff7;
$colorbuttonfooter: #F5F4F9;
$colorfontf1 :#E0CDA9;
$colorbackgroundfooter : RGBA (84,82,83,70);
$colorfontF2: #E0CDA9;