
$fontfamily: inter;
$fontsize : 15.5px;
$fontsizereduc: 10.3px;
$colorbutton : #C8E2ED;
$colorfontf1 : black;
$colorfontF2 : white;
$colorfontf3 : grey;
$colorbuttonfooter: #969587;
//$colorbackgroundfooter: #D9D9D9;
//$colorbutton :#93a2aa;
//$colorbuttonfooter: #c0cdd4;
$colorbackgroundfooter:#e4eff7;