.containerCharte{
    display: flex;
    flex-direction: column;
    margin: 1rem;
    text-align: justify;
    flex-wrap: wrap;


}
.pCharte{
    //width: 49.125rem;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
    color: $colorfontf1;
    

    
}
.pCharte span{
    text-decoration: underline;
}
.Bullep{
    //height: 16rem;
    height: auto;
    //width: 50.875rem;
    border: 1px solid #D9D9D9;
    background: $colorfondBulle;
    border-radius: 1.875rem;
    
    align-self: center;
    padding: 1rem;
    border: 5px solid $colorborder;
    box-shadow: 8px 4px 10px 5px $colorombre;
}
.SizePicCharte1{
    width: 15.6875rem;
    height: 14.3125rem;
    flex-shrink: 0;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    border-radius: 1.875rem;
    border: 5px solid $colorborder;
    align-self: start;
    box-shadow: 8px 4px 10px 5px $colorombre;
}
.SizePicCharte2{
    width: 15.6875rem;
    height: 14.3125rem;
    flex-shrink: 0;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    border-radius: 1.875rem;
    border: 5px solid $colorborder;
    align-self: end;
    box-shadow: 8px 4px 10px 5px $colorombre;
}