.ContenaireContact{
    
}
.coordonees{
  border: 2px solid black;
  padding: 20px;
  width: 50%;
  margin: auto;
  background-color: $colorfondBulle;
  border-radius: 2rem;
  border: 5px solid $colorborder;
  text-align: center;

  box-shadow: 8px 4px 10px 5px $colorombre;
  
}
.coordonees a {
  color:black;
}
@media screen and (max-width: 771px) {
    .coordonees{
      width: 80%;
    }  
}



.form {
    border: 2px solid black;
    padding: 20px;
    width: 50%;
    margin: auto;
    background-color: $colorfondBulle;
    border-radius: 2rem;
    border: 5px solid $colorborder;

    box-shadow: 8px 4px 10px 5px $colorombre;
  }
  @media screen and (max-width: 771px) {
    .form{
      width: 90%;
      
    }
    
  }
  
  label {
    display: block;
  }
  
  input[type=text], input[type=email], input[type=tel] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    background-color:black;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: grey;
  }
  