.containerDeroulement{
    display: flex;
    flex-direction: column;
    margin: 1rem;
    
   
}
.container2whitImage{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.bulleP{
    height: 11.25rem;
    flex-shrink: 0;
    width: 20.3125rem;
    border: 1px solid #D9D9D9;
    background: rgba(207, 199, 188, 0.2);
    border-radius: 1.875rem;
    color: $colorfontf1;

}
.bullePic{
    width: 12rem;;
    height: auto;
    flex-shrink: 0;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    border-radius: 1.875rem;
}

.container2whitImage2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.containerSansImage{
    width: 50%;
    display: flex;
    flex-direction: column;
    position: relative;
    left: 25%;

}
.order2{
    align-self: start;

}
.order3{
    align-self: end;
}