


.picturechloee {
    //position: relative;

    width: 18%;
    height: auto;
    //border-radius: 20%;
    //margin-top: 7%;
    //margin-left: 2%;
   // border: 2px solid #000;
    //margin-bottom: 5%;
    margin-bottom: 4rem;
    margin-left: 1rem;
    

}

.logo {
    width: 18%;
    height: auto;
}

.titrepresentation  {
    color: $colorfontf3;
    font-family: Inter;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-top: 10%;
    
}

.degrade {
    
    
    background-image: $colordegrade;
    background-clip: text;
    color: transparent;
    
    
}

#btnac {
    //width: 10.9375rem;
    //height: 3.375rem;
    flex-shrink: 0;
    border-radius: 20px;
    border: 2px solid #000;
    background-color: $colorfondBulle;
    color: white;
    
    font-family: Inter;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 10rem;
    height: 2.5rem;
    margin-bottom: 2rem;

    box-shadow: 8px 4px 10px 5px $colorombre;
}

#btnac:hover{
    background-color: $colorbuttonhover;
    transform: scale(1.1);
    color: $colorfontf1;
    border: $colorfontf1 dashed 2px;
}

@media screen and (max-width: 768px)

{
    body{
        font-size: $fontsizereduc;
    }
    .picturechloee {
        position: relative;
    
        width: 30%;
        height: auto;
        border-radius: 50%;
        //margin-top: 60%;
        margin-left: 2%;
        border: 2px solid #000;
        //margin-bottom: 40%;
        margin-bottom: 13rem;
        margin-top: 7rem;
    }    
    .titrepresentation {
        color: #000;
        font-family: Inter;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-top: 10%;
    }
    .logo {
        width: 35%;
    
        height: auto;
    }
    #btnac {
        width: 10.9375rem;
        height: 3.375rem;
        flex-shrink: 0;
        border-radius: 20px;
        border: 2px solid #000;
        background-color: #969587;
        color: white;
        
        font-family: Inter;
        //font-size: 1.4rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 1rem;
    }


        
        


}