
.containerGlobalInter {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}







.illustrationInter{
    width: 17.6875rem;
    height: 13.0625rem;
    border-radius: 1.875rem;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    flex-shrink: 0;
    border: 5px solid $colorborder;
} 
.containerinter {
    width: 17.4375rem;
    height: 28.5rem;
    flex-shrink: 0;

    text-align: justify;
    font-family: Inter;
    font-size: 0.8125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    

    font-family: Inter;
    font-size: 0.86rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
    
    margin-top: 1rem;
    padding: 0.5rem;
    
    border: 2px solid #D9D9D9;
    background:$colorfondBulle;
    border-radius: 1.875rem;
    border: 5px solid $colorborder;
}


.colorIntervention {
    color: $colorfontF2;
    
}

.colorblack{
    color: $colorfontf1;
}
.colorIntervention span, .colorblack span{
    text-decoration: underline;
}

