
.containerGlobalInter {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

}

.illustrationInter{
    width: 17.6875rem;
    height: 13.0625rem;
    border-radius: 1.875rem;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    flex-shrink: 0;
    border: 5px solid $colorborder;
} 
.containerinter {
    width: 17.4375rem;
    height: 36rem;
    flex-shrink: 0;

    text-align: justify;
    font-family: Inter;
    font-size: $fontsizereduc;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
    margin-top: 1rem;
    padding: 0.5rem;
    
    
    background:$colorfondBulle;
    border-radius: 1.875rem;
    border: 5px solid $colorborder;
}
@media screen and (max-width: 569px) {
    
    .B1{
        height: 23rem;
    }
    .B2{
        height: 29rem;
    }
    .B3{
        height: 29rem;
    }
    .B4{
        height: 38rem;
    }
    
}


.colorIntervention {
    color: $colorfontF2;
    
}

.colorblack{
    color: $colorfontf1;
}
.colorIntervention span, .colorblack span{
    text-decoration: underline;
}

