.ContainerRealisation{
    display: flex;
    flex: row;
    flex-wrap: wrap;
    justify-content: center;
    
}   
.ContainerRealisation figcaption{
    color:$colorfontf1;
    font-weight: 750;
}
.cssBullePicRealisation{
    height: 16.0625rem;
    
    width: 18.625rem;

    border: 5px solid $colorborder;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 1.875rem;
    flex-basis: calc(33.33% - 20px);
    margin: 30px;
    box-shadow: 8px 4px 10px 5px $colorombre;
    
    
}