.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo1 {
  width: 83.5%;
  height: auto;
}

.picturechloee {
  width: 18%;
  height: auto;
  border-radius: 50%;
  border: 2px solid #000;
  margin-bottom: 4rem;
  margin-left: 1rem;
}

.logo {
  width: 18%;
  height: auto;
}

.titrepresentation {
  font-family: Inter;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 10%;
}

.degrade {
  background-image: linear-gradient(270deg, rgb(1, 1, 13) 3%, rgb(245, 245, 245) 14%);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}

#btnac {
  flex-shrink: 0;
  border-radius: 20px;
  border: 2px solid #000;
  background-color: #E0CDA9;
  color: white;
  font-family: Inter;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 10.5rem;
  height: 3rem;
  margin-bottom: 2rem;
}

@media screen and (max-width: 768px) {
  body {
    font-size: 10.3px;
  }
  .picturechloee {
    position: relative;
    width: 30%;
    height: auto;
    border-radius: 50%;
    margin-left: 2%;
    border: 2px solid #000;
    margin-bottom: 13rem;
    margin-top: 7rem;
  }
  .titrepresentation {
    color: #000;
    font-family: Inter;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 10%;
  }
  .logo {
    width: 35%;
    height: auto;
  }
  #btnac {
    width: 10.9375rem;
    height: 3.375rem;
    flex-shrink: 0;
    border-radius: 20px;
    border: 2px solid #000;
    background-color: #969587;
    color: white;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 1rem;
  }
}
.centrale {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.navig {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 3%;
}

.parcours {
  width: 24.625rem;
  height: 20rem;
  color: #000;
  text-align: justify;
  font-family: inter;
  font-size: 15.5px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 1.8125rem;
  border: 2px solid #D9D9D9;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  margin: 3px;
  background-color: #E0CDA9;
  border: 5px solid #C4C4C4;
}

.esparcours {
  margin-left: 2%;
  margin-right: 2%;
  text-indent: 1rem;
}

.h3 {
  margin-left: 4%;
}

.projets {
  width: 24.625rem;
  height: 20rem;
  color: black;
  text-align: justify;
  font-family: inter;
  font-size: 15.5px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 1.8125rem;
  border: 2px solid #D9D9D9;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  background-color: #E0CDA9;
  border: 5px solid #C4C4C4;
}

.valeurs {
  width: 24.625rem;
  height: 20rem;
  color: #000;
  text-align: justify;
  font-family: inter;
  font-size: 15.5px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 1.8125rem;
  border: 2px solid #D9D9D9;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  background-color: #E0CDA9;
  border: 5px solid #C4C4C4;
}

.decobtn {
  border-radius: 2.8125rem;
  border: 2px solid #000;
  background-color: #D3D3D3;
  height: 4.375rem;
  color: black;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: 5px solid #C4C4C4;
  width: 15rem;
}

@media screen and (max-width: 768px) {
  .parcours {
    width: 24rem;
    height: 9rem;
    font-size: 10.3px;
    margin-bottom: 2rem;
  }
  .valeurs {
    width: 24rem;
    height: 9rem;
    font-size: 10.3px;
    margin-top: 2rem;
  }
  .projets {
    width: 24rem;
    height: 11rem;
    font-size: 10.3px;
  }
  footer {
    display: none;
  }
  .navig {
    display: none;
  }
}
html {
  width: 99%;
  height: 100%;
}

body {
  background-repeat: no-repeat;
  background: center url("../asset/escalier3.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: x-large;
  box-sizing: border-box;
  min-height: 100%;
}

.btnf {
  background-color: #E0CDA9;
  border-radius: 20px;
  width: 7rem;
}

.footer {
  width: 100%;
  height: 10%;
  background-color: #F5F5F5;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 0.3%;
  padding-bottom: 0.3%;
}

.footer a {
  color: black;
}

.containerGlobalInter {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.illustrationInter {
  width: 17.6875rem;
  height: 13.0625rem;
  border-radius: 1.875rem;
  background: url(<path-to-image>), lightgray 50%/cover no-repeat;
  flex-shrink: 0;
  border: 5px solid #C4C4C4;
}

.containerinter {
  width: 17.4375rem;
  height: 28.5rem;
  flex-shrink: 0;
  text-align: justify;
  font-family: Inter;
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-family: Inter;
  font-size: 0.86rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 1rem;
  padding: 0.5rem;
  border: 2px solid #D9D9D9;
  background: #E0CDA9;
  border-radius: 1.875rem;
  border: 5px solid #C4C4C4;
}

.colorIntervention {
  color: black;
}

.colorblack {
  color: black;
}

.colorIntervention span, .colorblack span {
  text-decoration: underline;
}

.coordonees {
  border: 2px solid black;
  padding: 20px;
  width: 50%;
  margin: auto;
  background-color: #E0CDA9;
  border-radius: 2rem;
  border: 5px solid #C4C4C4;
  text-align: center;
}

.coordonees a {
  color: black;
}

.form {
  border: 2px solid black;
  padding: 20px;
  width: 50%;
  margin: auto;
  background-color: #E0CDA9;
  border-radius: 2rem;
  border: 5px solid #C4C4C4;
}

label {
  display: block;
}

input[type=text], input[type=email], input[type=tel] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  background-color: black;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: grey;
}

.containerDeroulement {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.container2whitImage {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bulleP {
  height: 11.25rem;
  flex-shrink: 0;
  width: 20.3125rem;
  border: 1px solid #D9D9D9;
  background: #E0CDA9;
  border-radius: 1.875rem;
  color: black;
  border: 5px solid #C4C4C4;
}

.bullePic {
  width: 12rem;
  height: auto;
  flex-shrink: 0;
  background: url(<path-to-image>), lightgray 50%/cover no-repeat;
  border-radius: 1.875rem;
  border: 5px solid #C4C4C4;
}

.container2whitImage2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.containerSansImage {
  width: 50%;
  display: flex;
  flex-direction: column;
  position: relative;
  left: 25%;
}

.order2 {
  align-self: start;
}

.order3 {
  align-self: end;
}

.containerCharte {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  text-align: justify;
}

.pCharte {
  width: 49.125rem;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: black;
}

.pCharte span {
  text-decoration: underline;
}

.Bullep {
  height: 16rem;
  flex-shrink: 0;
  width: 50.875rem;
  border: 1px solid #D9D9D9;
  background: #E0CDA9;
  border-radius: 1.875rem;
  align-self: center;
  padding: 1rem;
  border: 5px solid #C4C4C4;
}

.SizePicCharte1 {
  width: 15.6875rem;
  height: 14.3125rem;
  flex-shrink: 0;
  background: url(<path-to-image>), lightgray 50%/cover no-repeat;
  border-radius: 1.875rem;
  border: 5px solid #C4C4C4;
  align-self: start;
}

.SizePicCharte2 {
  width: 15.6875rem;
  height: 14.3125rem;
  flex-shrink: 0;
  background: url(<path-to-image>), lightgray 50%/cover no-repeat;
  border-radius: 1.875rem;
  border: 5px solid #C4C4C4;
  align-self: end;
}

.ContainerRealisation {
  display: flex;
  flex: row;
  flex-wrap: wrap;
  justify-content: center;
}

.cssBullePicRealisation {
  height: 16.0625rem;
  width: 18.625rem;
  border: 5px solid #C4C4C4;
  background: url(<path-to-image>), lightgray 50%/cover no-repeat;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 1.875rem;
  flex-basis: calc(33.33% - 20px);
  margin: 30px;
}

#imagedetail {
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  border-radius: 2rem;
}

.descriptif {
  width: 100%;
  height: 50%;
  background-color: #E0CDA9;
  text-align: justify;
  border-radius: 1.5rem;
}/*# sourceMappingURL=style.css.map */